body {
    background-image: url('dark-keyboard.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1 h2 {
    text-align: center;
    color: whitesmoke;   
    
}
